<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot=start>
      <ion-button shape="round" (click)="goBack()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title *ngIf="mission">{{mission.mission_name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ng-container *ngIf="mission">
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>{{mission.mission_id}}</ion-card-subtitle>
        <ion-card-title>{{mission.mission_name}}</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        <ng-container *ngIf="mission.manufacturers.length > 0">
          <h5>Manufacturers</h5>
          <ul>
            <li *ngFor="let manufacturer of mission.manufacturers">{{manufacturer}}</li>
          </ul>
        </ng-container>
        <ng-container *ngIf="mission.payload_ids.length > 0">
          <h5>Payloads</h5>
          <ul>
            <li *ngFor="let payload of mission.payload_ids">{{payload}}</li>
          </ul>
        </ng-container>
        <ion-row>
          <ion-chip *ngIf="mission.wikipedia" (click)="openLink(mission.wikipedia)" color="dark">
              <ion-icon src="/../assets/icons/wikipedia.svg"></ion-icon>
            <ion-label>Wikipedia</ion-label>
          </ion-chip>
          <ion-chip *ngIf="mission.twitter" (click)="openLink(mission.twitter)" color="primary">
            <ion-icon name="logo-twitter" color="primary"></ion-icon>
            <ion-label>Twitter</ion-label>
          </ion-chip>
          <ion-chip *ngIf="mission.website" (click)="openLink(mission.website)" color="success">
            <ion-icon name="logo-chrome" color="success"></ion-icon>
            <ion-label>Website</ion-label>
          </ion-chip>
        </ion-row>
        {{mission.description}}
      </ion-card-content>
    </ion-card>
  </ng-container>
</ion-content>