.mission-patch {
    width: 50%;
    height: auto;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}
.launch-details {
    margin: 10px 0;
}
.ship-item {
    font-size: 14px;
}

.divider {
    border-color: grey;
    border-width: 0.2px;
}
