.close-fake {
    --background: transparent;
    ion-icon {
        font-size: 2rem;
    }
    margin-top: 40px;
}

ion-content {
    --background: rgb(30, 30, 30);
}

ion-slides {
    height: 80%;
}

ion-item {
    /** (ream) light **/
    --ion-color-light: #f4f5f8;
    --ion-color-light-rgb: 244,244,244;
    --ion-color-light-contrast: #000000;
    --ion-color-light-contrast-rgb: 0,0,0;
    --ion-color-light-shade: #d7d8da;
    --ion-color-light-tint: #f5f6f9;
}
