<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Rockets
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ng-container *ngIf="rockets$ | async as rockets; else lottie_loader">
    <ion-list>
      <ng-container *ngFor="let rocket of rockets">
        <ion-item [routerLink]="['/rockets/', rocket.id]" routerDirection="forward">
          {{rocket.rocket_name}}
        </ion-item>
      </ng-container>
    </ion-list>
  </ng-container>
</ion-content>

<ng-template #lottie_loader>
  <app-lottie-loader></app-lottie-loader>
</ng-template>