<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot=start>
        <ion-button shape="round" (click)="goBack()">
          <ion-icon name="arrow-back"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title *ngIf="core">{{core.core_serial}}</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content padding>
    <ng-container *ngIf="core">
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle>{{core.status}}</ion-card-subtitle>
          <ion-card-title>{{core.core_serial}}</ion-card-title>
          <ion-card-subtitle>Launch : {{core.original_launch | date: 'dd/MM/yyyy HH:mm'}}</ion-card-subtitle>
        </ion-card-header>
      
        <ion-card-content>
          <ng-container *ngIf="core.missions.length > 0">
            <h5>Mission(s)</h5>
            <ul>
              <li *ngFor="let mission of core.missions">{{mission.name}}</li>
            </ul>
          </ng-container>
          {{core.details}}
          <p *ngIf="core.reuse_count === 0">Never reused</p>
          <p *ngIf="core.reuse_count > 0">Reused : {{core.reuse_count}}</p>
        </ion-card-content>
      </ion-card>
    </ng-container>
  </ion-content>