<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Missions
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container *ngIf="missions$ | async as missions; else lottie_loader">
    <ion-list>
      <ng-container *ngFor="let mission of missions">
        <ion-item [routerLink]="['/missions/', mission.mission_id]" routerDirection="forward">
          {{mission.mission_name}}
        </ion-item>
      </ng-container>
    </ion-list>
  </ng-container>
</ion-content>

<ng-template #lottie_loader>
  <app-lottie-loader></app-lottie-loader>
</ng-template>